@model DogWalkingAppAuth.Models.Dog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="
    padding-top: 70px;
    color: darkgreen;">Details</h2>

<div>
    <h4>Edit Dog Information.
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dog Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogName)
        </dd>

        <dt>
           Dog Breed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBreed)
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
