@{
    ViewBag.Title = "Contact Page";
}
<h2 style="
    padding-top: 30px;
    color: darkgreen;">@ViewBag.Title</h2>
<h3 style="
    padding-top: 30px;
    color: darkgreen;">@ViewBag.Message</h3>

<address>
    Leticia Weigand<br />
    El Paso Tx<br />
    <abbr title="Phone">P:</abbr>
    915.269.6670
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:missletty8@outlook.com">Click here to email me</a><br />
</address>
<a href="https://zety.com/profile/leticia-weigand/588" target="_blank">To visit my online resume please click here.</a>