@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="
    padding-top: 70px;
    color: darkgreen;">
    Walk The Dog</h1>
    <p class="lead">Keep track of your Dog's health and fitness. Easily create and view walks you've taken with your beloved Doggie friends.</p>
    <p><a href="https://localhost:44302/DogWalkings" class="btn btn-primary btn-lg">Log A Walk &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Health Tracking</h2>
        <p>
            Walk The Dog is a movement towards helping Humans .
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your Photo Album</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Explore Dog Parks Near You</h2>
        <p>Find a Dog Park near you.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Dog Park Locator &raquo;</a></p>
    </div>
</div>*@