
@{
    ViewBag.Title = "Obesity Facts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="
    padding-top: 70px;
    color: darkgreen;">
    @ViewBag.Title</h2>

<p>
    Obesity is caused by an imbalance between the energy intake and usage.<br>

    In other words, Dog is eating too much and not enough energy is expended.<br />

    Overweight dogs are more prone to breathing issues.  They can develop laryngeal paralysis and a collapsed trachea.<br />

    Average weight for a male beagle is 22-24lbs<br />

    My Beagle Zeus is overweight by 1000 lbs.
</p>
