@model DogWalkingAppAuth.Models.Walker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2  style="
    padding-top: 70px;
    color: darkgreen;">Details</h2>

<div>
    <h4>Viewing Walker Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Walker Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Walker_Name)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WalkerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
